.cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;

  &__container {
    max-width: 1400px; /* 1 */
    margin-left: auto; /* 2 */
    margin-right: auto; /* 2 */
    width: 70%; /* 1 */
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include respond(tab-port) {
      width: 95%;
    }
  }

  &__header {
    @include headerImage;
  }

  &__footer {
    @include footerImage;
  }

  &__content {
    margin-top: 25rem;
    margin-bottom: 25rem;
    width: 100%;
    flex-wrap: wrap;

    @include respond(tab-port) {
      margin-top: 12.5rem;
      margin-bottom: 12.5rem;
    }
  }
}

.woocommerce-cart .woocommerce {
  color: #000 !important;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.woocommerce div.product p.stock {
  margin-bottom: 1rem;
}

.woocommerce-variation-add-to-cart {
  display: flex;
  width: 100%;
}

.woocommerce-variation-availability {
  width: 100%;
}

.woocommerce-cart-form {
  background-color: #fff;
  border-radius: 8px;

  @include respond(tab-port) {
    width: 100%;
  }
}

.cart_totals {
  background-color: #fff;
  border-radius: 8px;
  width: 65% !important;
  padding: 1.5rem;

  @include respond(tab-port) {
    width: 100% !important;
    margin-top: 2rem;
    height: auto;
  }

  h2 {
    margin-bottom: 1rem;
  }
}

.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
  width: 40%;

  @include respond(tab-port) {
    width: 100%;
  }
}
.woocommerce div.product form.cart div.quantity {
  max-width: 70px;
}
