.footer {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  bottom: 0;

  @include respond(tab-port){
    height: auto;
  }

  &__container {
    max-width: 1600px;
    width: 90%;
    margin: auto;
  }

  &__block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include respond(tab-port){
      justify-content: center;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 120%;
      text-align: center;

      @include respond(tab-port){
        width: 100%;
        padding: 1rem 0 1rem 0;
      }
    }

    &__socials {
      display: flex;
      align-items: center;

      @include respond(tab-port){
        width: 100%;
        padding: 1rem 0 1rem 0;
        justify-content: center;
      }

        img {
          width: 40px;
          height: auto;
          margin-right: 2rem;
          transition: all 0.2s ease-in-out;

          &:hover {
            transform: scale(1.07);
          }
        }
    }

    &__links {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;

      a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 120%;
        position: relative;
        transition: all 0.2s ease-in-out;
        color: #fff;

        @include respond(tab-port){
          width: 100%;
          padding: 1rem 0 1rem 0;
          text-align: center;
        }

        &:hover {
          color: #fa559a !important;
        }
      }
    }

  }
}
