.footer {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;

  &__container {
    max-width: 1600px;
    width: 90%;
    margin: auto;
  }

  &__block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 120%;
      text-align: center;
    }

    &__socials {
      display: flex;
      align-items: center;

        img {
          width: 40px;
          height: auto;
          margin-right: 2rem;
          transition: all 0.2s ease-in-out;

          &:hover {
            transform: scale(1.07);
          }
        }
    }

    &__links {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;

      a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 120%;
        position: relative;
        transition: all 0.2s ease-in-out;
        color: #fff;

        @include respond(tab-port) {
          width: 45%;
          margin-bottom: 1.5rem;
        }

        &:hover {
          color: #fa559a !important;
        }
      }
    }

  }
}
