@import 'Global_Styles/mixins.scss';

.mobileNav {
  display: none;
  height: 100%;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  z-index: 9999999999;
  width: 100vw;
  padding: 2rem 1rem 1rem 1rem;
  transition: ease .3s;

  @include respond(tab-port) {
    display: flex;
    background-color: rgba(0,0,0,0.3);
  }
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    width: 90%;
    justify-content: space-between;

    &__logo {
      height: 64px;
      width: 40%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: 100;
    }

    &__buttons {
      display: flex;
      align-items: center;
      width: 60%;
      justify-content: flex-end;

      &__logo {
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
        background-size: contain;
        color: #fff;
        z-index: 99;
        margin-right: 3.5rem;

        span {
          background-color: #c7b2de;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          font-size: 6px;
          width: 14px;
          height: 14px;
          margin-top: 40%;
          margin-left: 40%;
        }
      }

      &__menu {
        display: block;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;

        &__checkbox {
          display: none;
        }

        &__checkbox:checked ~ &__submenu {
          display: flex;
          opacity: 1;
        }

        &__button {
          background-color: #000;
          border-radius: 50%;
          height: 55px;
          width: 55px;
          z-index: 999998;
          text-align: center;
          cursor: pointer;
          display: flex;
          justify-content: center;
          flex-direction: column;
          z-index: 99;

          &__icon {
            position: relative;
            margin: 0 auto;
            z-index: 10000000;
            transition: 0.3s ease;

            &,
            &::before,
            &::after {
              width: 3rem;
              height: 2.5px;
              background-color: #fff;
              display: inline-block;
            }

            &::before,
            &::after {
              content: '';
              position: absolute;
              left: 0;
              transition: all 0.2s;
            }

            &::before {
              top: -0.8rem;


            }
            &::after {
              top: 0.8rem;
            }
          }
        }

        &__button:hover &__button__icon::before {
          top: -1rem;
        }

        &__button:hover &__button__icon::after {
          top: 1rem;
        }

        &__checkbox:checked + &__button &__button__icon {
          background-color: transparent;
        }

        &__checkbox:checked + &__button &__button__icon::before {
          top: 0;
          transform: rotate(135deg);
        }

        &__checkbox:checked + &__button &__button__icon::after {
          top: 0;
          transform: rotate(-135deg);
        }

        &__submenu {
          position: fixed;
          top: 0;
          opacity: 0;
          transition: ease 0.25s;
          z-index: 1000000;
          background-color: #000;
          height: 100vh;
          width: 100vw;
          left: 0;
          display: none;
          flex-direction: column;

          &__links {
            display: flex;
            flex-direction: column;
            color: #fff;
            justify-content: center;
            height: 100%;
            padding-top: 3rem;



            a {
              color: #fff;
              font-style: normal;
              font-weight: normal;
              font-size: 46px;
              line-height: 52px;
              text-align: center;
              padding: 15px 0;
              width: 80%;
              margin-left: 10%;
              border: 1px solid #fff;
              margin-bottom: 2rem;

              @include respond(phone) {
                font-size: 26px;
                line-height: 32px;
              }
            }

            &__socials {
              display: flex;
              justify-content: center;
              margin-top: 2.5rem;


              a {
                background-repeat: no-repeat;
                background-size: contain;
                width: 48px;
                height: 48px;
                margin-right: 2rem;
                border: none;
              }
            }

            &__social {
              background-repeat: no-repeat;
              background-size: contain;
              width: 48px;
              margin: auto;
              height: 48px;
              margin-top: 2rem;
            }
          }
        }
      }
    }
  }
}
