@import 'Global_Styles/mixins.scss';

.mobileNav {
  display: none;
  height: 100%;
  color: #fff;
  background-color: #492e0a;
  position: relative;
  height: auto;
  z-index: 999999;
  width: 100vw;
  padding: 1rem;

  @include respond(tab-port) {
    display: flex;
    background-color: transparent;
  }
  justify-content: center;
  align-items: center;

  &__bg {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 83% 95%, 65% 100%, 42% 97%, 24% 100%, 13% 96%, 0 100%, 0 0);

    @include respond(tab-port) {
      clip-path: 0;
    }
  }

  &__content {
    display: flex;
    width: 90%;
    justify-content: space-between;

    &__logo {
      height: 64px;
      width: 40%;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 100;
    }

    &__buttons {
      display: flex;
      align-items: center;
      width: 60%;
      justify-content: flex-end;

      &__logo {
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
        background-size: contain;
        color: #fff;
        z-index: 99;
        margin-right: 3.5rem;

        span {
          background-color: #c7b2de;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          font-size: 6px;
          width: 14px;
          height: 14px;
          margin-top: 40%;
          margin-left: 40%;
        }
      }

      &__menu {
        display: block;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;

        &__checkbox {
          display: none;
        }

        &__checkbox:checked ~ &__submenu {
          display: flex;
          opacity: 1;
        }

        &__button {
          background-color: #492e0a;
          height: 30px;
          width: 35px;
          z-index: 999998;
          text-align: center;
          cursor: pointer;
          display: flex;
          justify-content: center;
          flex-direction: column;
          z-index: 99;

          &__icon {
            position: relative;
            margin: 0 auto;
            z-index: 10000000;
            transition: 0.3s ease;

            &,
            &::before,
            &::after {
              width: 3rem;
              height: 2px;
              background-color: #fff;
              display: inline-block;
            }

            &::before,
            &::after {
              content: '';
              position: absolute;
              left: 0;
              transition: all 0.2s;
            }

            &::before {
              top: -0.8rem;
            }
            &::after {
              top: 0.8rem;
            }
          }
        }

        &__button:hover &__button__icon::before {
          top: -1rem;
        }

        &__button:hover &__button__icon::after {
          top: 1rem;
        }

        &__checkbox:checked + &__button &__button__icon {
          background-color: transparent;
        }

        &__checkbox:checked + &__button &__button__icon::before {
          top: 0;
          transform: rotate(135deg);
        }

        &__checkbox:checked + &__button &__button__icon::after {
          top: 0;
          transform: rotate(-135deg);
        }

        &__submenu {
          position: fixed;
          top: 85px;
          opacity: 0;
          transition: ease 0.25s;
          z-index: 1000000;
          background-color: #2a5248;
          height: calc(100% - 85px);
          width: 100vw;
          left: 0;
          display: none;
          flex-direction: column;

          &__header {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;

            img {
              width: 100%;
              height: auto;
            }
          }

          &__footer {
            width: 100%;
            position: absolute;
            bottom: 0px;
            left: 0;
            z-index: -1;

            img {
              width: 100%;
              height: auto;
            }
          }

          &__links {
            display: flex;
            flex-direction: column;
            color: #fff;
            width: 100%;
            justify-content: center;
            height: 100%;
            margin-top: 10rem;

            a {
              color: #fff;
              font-style: normal;
              font-weight: normal;
              font-size: 46px;
              line-height: 52px;
              text-align: center;
              padding: 15px 0;

              @include respond(phone) {
                font-size: 26px;
                line-height: 32px;
              }
            }

            &__social {
              background-repeat: no-repeat;
              background-size: contain;
              width: 48px;
              margin: auto;
              height: 48px;
              margin-top: 2rem;
            }
          }
        }
      }
    }
  }
}
