@import 'Global_Styles/mixins.scss';

.nav {
  height: 60px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: fixed;
  top: 0;
  background-color: $color-black;
  font-family: SequalLight, 'sans-serif';
  width: 100vw;
  z-index: 999999999999;
  background-color: rgba(0, 0, 0, 0.55);
  transition: ease 0.3s;

  @include respond(tab-port) {
    display: none;
  }

  &__container {
    max-width: 1600px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__items {
    display: flex;
    align-items: flex-end;

    &__logo {
      position: relative;
      transition: $animation;
      cursor: pointer;

      &:hover {
        .nav__items__logo__drop {
          display: block;
        }
      }

      &__image {
        width: 145px;
        height: auto;
        position: relative;
        margin-right: 5rem;
      }

      &__drop {
        display: none;
        position: absolute;
        height: auto;
        left: -42.5px;
        top: 0;
        width: auto;
        background-color: transparent;
        padding: 1rem 2.5rem;
        transition: $animation;
        padding-top: 48px;

        &__link {
          width: 170px;
          max-width: none;
          padding: 5px;
          background-color: transparent;

          padding: 1rem;
          border-top: none;

          &__image {
            width: 100%;
            height: auto;
            max-width: none;
            padding: 5px;
            border: 1px solid #fff;
            transition: $animation;

            &:hover {
              box-shadow: 0 1rem 2rem rgba(#ffffff20, 0.2);
              transform: scale(1.02);
            }
          }
        }
      }
    }

    &__links {
      margin-right: 5rem;
      font-size: 20px;
      font-weight: 800;
      color: #fff;
      position: relative;
      transition: all 0.2s ease-in-out;
      text-align: center;
      display: flex;
      align-items: center;
      font-family: SequalMid, sans-serif !important;

      @include respond(laptop) {
        margin-right: 2rem;
        font-size: 16px;
      }

      @include respond(tab-land) {
        margin-right: 2rem;
        font-size: 14px;
      }

      img {
        width: 145px;
        position: relative;
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        bottom: -3px;
        width: 0px;
        height: 3px;
        margin: 5px 0 0;
        transition: all 0.2s ease-in-out;
        transition-duration: 0.5s;
        opacity: 0;
        background-color: #fff;
        left: 0;
      }
      &:hover {
        &:before,
        &:after {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }

  &__basket {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    color: #fff;
    align-items: center;
    position: relative;

    a {
      width: 28px;
      height: 28px;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;

      span {
        border: 1px solid #fff;
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 4px;
        width: 18px;
        height: 18px;
        margin-top: 18px;
        margin-left: -6px;
      }
    }
  }
}
