.shipping {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__container {
    min-height: 1000px;
    max-width: 1536px; /* 1 */
    margin-left: auto; /* 2 */
    margin-right: auto; /* 2 */
    width: 70%; /* 1 */

    @include respond(tab-port) {
      width: 90%;
    }
  }

  &__header {
    @include headerImage;
  }

  &__footer {
    @include footerImage;
  }

  h1 {
    margin-top: 20rem;
    font-size: 39px;
    line-height: 120%;
    font-style: normal;
    text-align: center;
    font-weight: normal;
  }

  h2 {
    font-size: 49px;
    line-height: 120%;
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: normal;
  }

  &__subtitle {
    font-size: 25px;
    line-height: 120%;
    font-style: normal;
    font-weight: normal;
    margin-top: 5rem;
  }

  p {
    font-size: 21px;
    line-height: 24px;
    font-family: Montserrat;
    margin-top: 2rem;

    @include respond(tab-port) {
      font-size: 19px;
      line-height: 120%;
    }
  }

  b {
    font-size: 25px;
    line-height: 120%;
    font-style: normal;
    font-weight: normal;
  }

  &__img {
    width: 100%;
    height: auto;
    margin: 5rem 0;
  }
}
