@import 'Global_Styles/mixins.scss';
@import 'Global_Styles/variables.scss';

.landing {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: #000;
  align-items: center;


  &__content {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: auto;
    max-width: 900px;

    &__logo {
      width: 100%;
      height: auto;
      margin-bottom: 5rem;
      z-index: 99;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;


      &__bg {
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        z-index: 1;
        transition: 0.9s ease;
      }

      a {
        width: 45%;
        height: 175px;
        color: #000;
        text-align: center;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        flex-direction: column;
        transition: $animation;
        overflow: hidden;
        border: 2px solid $color-white;

        &:hover {
          box-shadow: 0 1rem 2rem rgba(#ffffff20, 0.2);

          .landing__content__buttons__bg {
            transform: scale(1.04);
          }
        }
      }

      &__logo {
        width: 60%;
        height: auto;
        margin-bottom: 20px;
        z-index: 2;
      }

      &__text {
        font-size: 24px;
        background-color: #fff;
        padding: 5px 10px;
        padding-top: 0px;
        z-index: 2;
      }

    }

  }
}
