@import 'Global_Styles/mixins.scss';
@import 'Global_Styles/variables.scss';

.landing {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  display: flex;



  &__sonics {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    img {
      margin-bottom: 2.5rem;
      width: 375px;
      height: auto;
    }

    a {
      width: 150px;
      background-color: #fff;
      color: $color-black;
      text-align: center;
      padding: 8px;
      font-size: 20px;
      transition: $animation;
      border: 1px solid $color-black;

      &:hover {
        background-color: $color-black;
        color: #fff;
        border: 1px solid #fff;
      }
    }
  }

  &__mastering {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      margin-bottom: 2.5rem;
      width: 375px;
      height: auto;
    }

    a {
      width: 150px;
      background-color: #fff;
      color: $color-black;
      text-align: center;
      padding: 8px;
      font-size: 20px;
      transition: $animation;
      border: 1px solid $color-black;

      &:hover {
        background-color: $color-black;
        color: #fff;
        border: 1px solid #fff;
      }
    }
  }
}
