// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
@import './variables.scss';
@import './mixins.scss';
/**
 * Clear inner floats
 */
 .clearfix::after {
    clear: both;
    content: '';
    display: table;
  }
  
  /**
   * Main content containers
   * 1. Make the container full-width with a maximum width
   * 2. Center it in the viewport
   * 3. Leave some space on the edges, especially valuable on small screens
   */
  
  .container {
    max-width: $max-width; /* 1 */
    margin-left: auto; /* 2 */
    margin-right: auto; /* 2 */
    width: 80%; /* 1 */

    @include respond(tab-land){
      width: 90%;
    }
  
    @include respond(phone){
      width: 95%; 
    }
  }


#nprogress .bar {
  background:#203D7F !important;
  z-index: 999999999;
}

#nprogress .peg {
  box-shadow: 0 0 10px#203D7F, 0 0 5px#203D7F !important;
}

#nprogress .spinner-icon {
  border-top-color:#203D7F !important;
  border-left-color:#203D7F !important;
}