// ******************************************************************
// SCHOOL OF MANAGEMENT
// ******************************************************************

// CHARSET
@charset 'UTF-8';

// ==================================================================
// SCSS FILE IMPORTS
// ==================================================================

<<<<<<< HEAD:assets/css/src/shop/manifest.scss
@import './style';
@import '../navigation.scss';
=======
@import "./style";


>>>>>>> d844f963d3415b446c94c8ae6b80ae5c035dd25f:assets/css/src/home/manifest.scss
