// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@import './variables.scss';

// @font-face {
//   font-family: 'adumu';
//   src: url('../../../../assets/fonts/Adumu.eot'); /* IE9 Compat Modes */
//   src: url('../../../../assets/fonts/Adumu.eot?#iefix') format('embedded-opentype'),
//     /* IE6-IE8 */ url('../../../../assets/fonts/Adumu.woff') format('woff'),
//     /* Modern Browsers */ url('../../../../assets/fonts/Adumu.ttf') format('truetype'),
//     /* Safari, Android, iOS */ url('../../../../assets/fonts/Adumu.svg') format('svg'); /* Legacy iOS */
// }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');

/**
 * Set up a decent box model on the root element
 */
body {
  color: $black-text;
  font-family: 'Montserrat',  sans-serif;
  //font: normal 125% / 1.4 $text-font-stack;
  background-color: #fff;
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
  max-width: 100vw;
  transition: ease .1s;
}

html {
  box-sizing: border-box;
  // defines what 1 rem is
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 65%;
  scroll-behavior: smooth;
  
}


.nojq {
  display: none !important;
}


/**
   * Make all elements from the DOM inherit from the parent box-sizing
   * Since `*` has a specificity of 0, it does not override the `html` value
   * making all elements inheriting from the root box-sizing value
   * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
   */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/**
   * Basic styles for links
   */
a {
  text-decoration: none;
  color: $primary-col;
}

.errorMsg {
  margin-top: 20px;
  min-width: 75px;
  width: 75px;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
  background-color: lightcoral;
}

.successMessage {
  margin-top: 20px;
  min-width: 75px;
  width: 75px;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
  background-color: lightgreen;
}

.mobileToggle {
  position: fixed;
  width: 100%;
}


.particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  top: 0;
  left: 0;
}