.woocommerce-cart .woocommerce {
  display: flex;
}

.woocommerce-page div.product div.images {
  width: 50%;
  max-width: 550px;
}

.cart {
  min-height: 0;
}


.woocommerce div.product p.price, .woocommerce div.product span.price {
  font-family: Adumu;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 120%;
  color: #fff;
}

.woocommerce div.product form.cart .variations {
  display: flex;
  flex-direction: row;
   align-items: flex-end;
   flex-wrap: wrap;

  tbody {
    display: flex;
    width: 100%;
     align-items: flex-end;
     flex-wrap: wrap;

    tr {
      min-width: 168px;

      @include respond(tab-port){
        margin-bottom: 2rem;
        width: 50%;
      }

      td {
        display: flex;
        align-items: center;
        flex-direction: row;

        label {
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 120%;
          margin-bottom: 4px;
        }

        select {
          border-radius: 8px;
          width: 168px;
          height: 46px;
          padding-left: 8px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 120%;
        }
      }
    }
  }
}

.woocommerce div.product form.cart {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;

  @include respond(tab-port) {
    flex-direction: column;
  }
}

.woocommerce div.product form.cart .variations {
  width: 100%;

  @include respond(tab-port) {
    width: 100%;
  }
}

.single_variation_wrap {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
    font-family: Montserrat;
    align-items: flex-start;
  @include respond(tab-port){
    width: 100%;
  }
}

.woocommerce div.product form.cart div.quantity {
  width: 25%;
  margin-right: 5%;
  min-width: 50px;
  height: 46px;
  display: flex;
  align-items: flex-start;


  input {
    height: 100%;
    width: 100%;
    border-radius: 8px;

      @include respond(tab-port){
        margin-left: 0;
  }
  }
}

.woocommerce div.product form.cart .button {
  height: 100%;
  width: 70%;
  border-radius: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  border: 2px solid #c7b2de;
  color: #fff;
  background-color: #252525;
  border-radius: 8px;
  padding: 8px 0px;
  transition: ease 0.2s;
  max-width: 300px;

  &:hover {
    background-color: #c7b2de;
    border: 2px solid #252525;
    color: #252525;
  }
}

.woocommerce div.product form.cart {
  display: flex;
}

.woocommerce div.product form.cart .variations {
  margin-bottom: 0;
}

.reset_variations {
  color: #fff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px !important;
  line-height: 120%;
  margin-right: 1rem;

  &:hover {
    text-decoration: underline;
  }
}



.woocommerce-notices-wrapper {
position: absolute;
  width: 60%;
  margin: auto;
  left: 20%;
  top: 25rem;
  z-index: 99999999;

  @include respond(tab-port) {
    width: 90%;
    left: 5%;
    top: 13rem;
  }
}

.woocommerce-message {
  font-size: 15px;

  @include respond(tab-port) {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
  }

  &::before {
    @include respond(tab-port) {
      display: none;
    }
  }

}

.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
  visibility: hidden;
}


.addToCart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  p {
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;

    @include respond(tab-port) {
     margin-bottom: 0rem;
     font-size: 14px;
    }
  }

  a {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    border: 2px solid #c7b2de;
    background-color: #c7b2de;
    border-radius: 8px;
    padding: 8px 14px;
    transition: ease 0.2s;
    color: #252525;
    cursor: pointer;

    @include respond(tab-port) {
      padding: 4px 8px;
      font-size: 14px;
     }

    &:hover {
      background-color: #252525;
      border: 2px solid #c7b2de;
      color: #fff;
    }
  }
}




.woocommerce-variation-description {
  font-style: normal;
  font-weight: normal;
  line-height: 120%;
  font-size: 16px;
  font-style: Montserrat;
  width: 100%;
  color: #fff;

  p {
    font-style: normal;
    font-weight: normal;
    line-height: 120%;
    font-size: 16px;
    font-style: Montserrat;
  }
}

.woocommerce div.product p.stock {
  font-size: 16px;
  color: #fff;
}